@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

/* SELECTION CURSOR CSS*/
body {
  overflow: hidden;
  cursor: none;
}

.selection-cursor {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #FFF;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.1s ease;
  z-index: 5;
}

.link-grow {
  transform: scale(4);
  mix-blend-mode: difference;
}

.link-grow-big {
  transform: scale(6);
  mix-blend-mode: difference;
}

/* THREE.JS CSS */
canvas { 
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -999; 
}

/* MAIN SECTION TITLE CSS */
#main-section-title {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: auto;
  top: 17vh;
  left: 11vw;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  overflow: hidden;
  z-index: 1;
}

#main-section-description {
  overflow: hidden;
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  overflow: hidden;
  z-index: 1;
}

#collapse-small-screen {
  display: block;
}

.main-section-header {
  font-family: 'Oswald', sans-serif;
  font-size: 12vh;
  letter-spacing: .25em;
  margin: 0;
}

.main-section-subheader {
  Font-Family: 'Quattrocento', Serif;
  font-size: 1.6vh;
  line-height: 1.25em;
  letter-spacing: .25em;
  margin-bottom: 0;
}

.main-section-subheader-fields {
  Font-Family: 'Quattrocento', Serif;
  font-size: 1.52vh;
  letter-spacing: .25em;
  padding-left: 1em;
  margin-bottom: 0;
}

.superscript-fields {
  Font-Family: 'Quattrocento', Serif;
  font-size: 1.11vh;
}

#unique-title-letter {
  color: #21ebff;
}

.main-section-title-hidden {
  visibility: hidden;
  opacity: 0;
}

.main-section-title-fadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 700ms;
  transition-duration: 5s;
}

@media (max-aspect-ratio: 2/1) {
  #main-section-title {
    top: 18vh;
    left: 11vw;
  }

  #main-section-description {
    width: 25vw;
  }
}

 @media (max-aspect-ratio: 4/3) {
  #main-section-title {
    top: 27vh;
    left: 7.5vw;
  }

  #main-section-description {
    width: 25vw;
  }

  .main-section-header {
    font-size: 5vw;
  }
  
  .main-section-subheader {
    font-size: 1.1vw;
  }
  
  .main-section-subheader-fields {
    font-size: .8vw;
  }
  
  .superscript-fields {
    font-size: .6vw;
  }
}

@media (max-aspect-ratio: 1/1) {
  #main-section-title {
    left: 7vw;
    top: 26vh;
  }

  .main-section-header {
    font-size: 5vw;
  }
  
  .main-section-subheader {
    font-size: 1.3vw;
  }
  
  .main-section-subheader-fields {
    font-size: 1.1vw;
  }
  
  .superscript-fields {
    font-size: .8vw;
  }
}

@media (max-aspect-ratio: 5/6) {
  #main-section-title {
    top: 4.5vh;
    left: 0vw;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  #main-section-description {
    align-items: center;
    width: 100%;
    text-align: center;
  }

  #collapse-small-screen {
    display: none;
  }

  .main-section-header {
    font-size: 10vw;
  }
  
  .main-section-subheader {
    font-size: 2.3vw;
    margin-left: 20vw;
    margin-right: 20vw;
    line-height: 2.6vh;
  }
}

@media (max-aspect-ratio: 47/64) {
  .main-section-header {
    font-size: 11vw;
  }
  
  .main-section-subheader {
    font-size:2.75vw;
  }
}

@media (max-aspect-ratio: 19/32) {
  .main-section-header {
    font-size: 10vw;
  }
  
  .main-section-subheader {
    font-size:2.9vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media (max-aspect-ratio: 31/64) {
  .main-section-header {
    font-size: 10vw;
  }
  
  .main-section-subheader {
    font-size: 3.25vw;
  }
}

/* @media (max-aspect-ratio: 580/963) {
  #main-section-title {
    top: 6vh;
    left: 27vw;
  }

  #main-section-description {
    width: 55vw;
  }

  .main-section-header {
    font-size: 2em;
  }
  
  .main-section-subheader {
    font-size: .6em;
  }
  
  .main-section-subheader-fields {
    font-size: .5em;
  }
  
  .superscript-fields {
    font-size: .4em;
  }
} */

/* MAIN SECTION NAV TAGS CSS */
#main-section-nav-tags {
  position: fixed;
  width: auto;
  height: 100vh;
  bottom: -16vh;
  right: 8.5vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  letter-spacing: .3em;
  font-size: 7.38vh;
  font-family: 'Oswald', sans-serif;
}

#main-section-nav-tags p{
  margin-top:.6em;
  margin-bottom: 0;
}

#main-section-nav-tags a{
  cursor: none;
  padding-top:0;
  text-decoration: none;
  color: #101010;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.main-section-nav-tags-hidden {
  visibility: hidden;
  opacity: 0;
}

.main-section-nav-tags-fadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 700ms;
  transition-duration: 5s;
}

/* @media (max-aspect-ratio: 677/839) {
  #main-section-nav-tags {
    font-size: 20vw;
    right: 8vw;
    top: 26vh;
  }

  #main-section-nav-tags p{
    margin-top:4.5vw;
    margin-bottom: 0;
  }
} */

@media (max-aspect-ratio: 4/3) {
  #main-section-nav-tags {
    font-size: 4vw;
    letter-spacing: .4em;
    right: 3vw;
    bottom: -26vh;
}

  #main-section-nav-tags p{
    margin-top:2.75vw;
    margin-bottom: 0;
  }
}

@media (max-aspect-ratio: 1/1){
  #main-section-nav-tags {
    right: 5vw;
    bottom: -26vh;
  }

  #main-section-nav-tags p{
    margin-top: 4.5vw;
  }
}

@media (max-aspect-ratio: 5/6) {
  #main-section-nav-tags {
    font-size: 4.5vw;
    letter-spacing: .4em;
    left: .5vw;
    bottom: -62.5vh;
    align-items: center;
    width: 100%;
    -webkit-transform: translateZ(0);
}

  #main-section-nav-tags p{
    margin-top:2vw;
    margin-bottom: 0;
  }
}

@media (max-aspect-ratio: 47/64) {
  #main-section-nav-tags {
    font-size: 5vw;
}

  #main-section-nav-tags p{
    margin-top:1.75vh;
  }
}

@media (max-aspect-ratio: 19/32) {
  #main-section-nav-tags {
    font-size: 6vw;
}

  #main-section-nav-tags p{
    margin-top:1.9vh;
  }
}

@media (max-aspect-ratio: 31/64) {
  #main-section-nav-tags {
    font-size: 7vw;
}

  #main-section-nav-tags p{
    margin-top:.8em;
  }
}

/* ENTRY SECTION CSS */
#entry-section {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 35vh;
  left: -0.05vw;
  display: flex;
  justify-content: center;
}

.homepage-welcome-text {
  font-size: 3em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .2em;
  color: white;
  overflow: hidden;
  padding-bottom: 0;
}

.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  height: 4.25em;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

@media (max-width: 745px) {
  .homepage-welcome-text {
    font-size: 2.75em;
  }
  
  .cursor {
    height: 4em;
  }
}

@media (max-width: 700px) {
  .homepage-welcome-text {
    font-size: 2.5em;
  }

  .cursor {
    height: 3.75em;
  }
}

@media (max-width: 610px) {
  .homepage-welcome-text {
    font-size: 2.25em;
  }

  .cursor {
    height: 3.5em;
  }
}

@media (max-width: 550px) {
  .homepage-welcome-text {
    font-size: 2em;
  }

  .cursor {
    height: 3em;
  }
}

@media (max-width: 480px) {
  .homepage-welcome-text {
    font-size: 1.75em;
  }

  .cursor {
    height: 2.75em;
  }
}

@media (max-width: 450px) {
  .homepage-welcome-text {
    font-size: 1.5em;
  }

  .cursor {
    height: 2.5em;
  }
}

@media (max-width: 380px) {
  .homepage-welcome-text {
    font-size: 1.25em;
  }

  .cursor {
    height: 2em;
  }
}

@media (max-width: 320px) {
  .homepage-welcome-text {
    font-size: 1em;
  }

  .cursor {
    height: 1.75em;
  }
}

/* ENTRY BUTTON CSS */
.enter-section-button {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 42.5vh;
  left: -0.05vw;
  display: flex;
  justify-content: center;
}

#enter-button {
  top: 5vh;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .2em;
  font-weight: bold;
  font-size: 1em;
  padding: 1em 1.5em 1.5em 1.5em;
  height: 1em;
  position: relative;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
}

#enter-button:hover {
  background: #21ebff;
  color: #111;
  box-shadow: 0 0 2em #21ebff;
  transition-delay: 0.5s;
}

#enter-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  border-top: .25em solid white;
  border-left: .25em solid white;
  transition: 0.5s;
}

#enter-button:hover:before {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
  border-top: .25em solid #21ebff;
  border-left: .25em solid #21ebff;
}

#enter-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1em;
  height: 1em;
  border-bottom: .25em solid white;
  border-right: .25em solid white;
  transition: 0.5s;
}

#enter-button:hover:after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
  border-bottom: .25em solid #21ebff;
  border-right: .25em solid #21ebff;
}

.enter-button-hidden {
  visibility: hidden;
  opacity: 0;
}

.enter-button-fadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 700ms;
}

@media (max-height: 620px) {
  #enter-button {
    top: 10vh;
  }
}

@media (max-height: 500px) {
  #enter-button {
    top: 15vh;
  }
}

@media (max-height: 300px) {
  #enter-button {
    top: 25vh;
  }
}

/* CORNER PIECE CSS */
.corner-images {
  overflow: hidden;
}

#upperLeft {
  position: fixed;
  top: 0vh;
}

#upperRight {
  position: fixed;
  top: 0vh;
  right:.3vw;
  transform: rotate(90deg);
}

#lowerLeft {
  position: fixed;
  bottom:0vw;
  transform: rotate(270deg);
}

#lowerRight {
  position: fixed;
  bottom:0vw;
  right:.3vw;
  transform: rotate(180deg);
}