@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

/* SELECTION CURSOR CSS*/
/* body {
  overflow: hidden;
  cursor: none;
}

.selection-cursor {
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  border: .25em solid whitesmoke;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 1;
}

.link-grow {
  transform: scale(2);
  background: whitesmoke;
}

.hovered-link {
  -webkit-filter: invert(100%);
  filter: invert(100%);
} */

/* THREE.JS CSS */
canvas { 
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -999; 
}

/* MAIN SECTION TITLE CSS */
#main-section-title {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 20vh;
  left: 20vw;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  overflow: hidden;
  z-index: 1;
}

.main-section-header {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 4.5em;
  margin: 0;
}

.main-section-subheader {
  font-family: 'Cardo', serif;
  letter-spacing: .1em;
  font-size: 1.5em;
  margin-bottom: 0;
}

#unique-title-letter {
  color: #21ebff;
}

.main-section-title-hidden {
  visibility: hidden;
  opacity: 0;
}

.main-section-title-fadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 700ms;
  transition-duration: 5s;
}

@media (max-width: 1370px) {
  #main-section-header {
    font-size: 4.75em;
  }

  #main-section-subheader1 {
    font-size: 1.425em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 1.425em;
  }
}

@media (max-width: 1200px) {
  #main-section-header {
    font-size: 4.5em;
  }

  #main-section-subheader1 {
    font-size: 1.35em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 1.35em;
  }
}

@media (max-width: 1030px) {
  #main-section-header {
    font-size: 4.25em;
  }

  #main-section-subheader1 {
    font-size: 1.275em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 1.275em;
  }
}

@media (max-width: 960px) {
  #main-section-header {
    font-size: 4em;
  }

  #main-section-subheader1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 1.2em;
  }
}

@media (max-width: 650px) {
  #main-section-header {
    font-size: 3.75em;
  }

  #main-section-subheader1 {
    font-size: 1.125em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 1.125em;
  }
}

@media (max-width: 580px) {
  #main-section-header {
    font-size: 3.5em;
  }

  #main-section-subheader1 {
    font-size: 1.05em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 1.05em;
  }
}

@media (max-width: 530px) {
  #main-section-header {
    font-size: 3.25em;
  }

  #main-section-subheader1 {
    font-size: 0.975em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 0.975em;
  }
}

@media (max-width: 510px) {
  #main-section-subheader1 {
    font-size: 0.95em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 0.95em;
  }
}

@media (max-width: 480px) {
  #main-section-subheader1 {
    font-size: 0.85em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 0.85em;
  }
}

@media (max-width: 430px) {
  #main-section-subheader1 {
    font-size: 1.15em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 1.15em;
  }
}

@media (max-width: 400px) {
  #main-section-header {
    font-size: 3em;
  }

  #main-section-subheader1 {
    font-size: 1.05em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 1.05em;
  }
}

@media (max-width: 375px) {
  #main-section-header {
    font-size: 2.75em;
  }

  #main-section-subheader1 {
    font-size: 1em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 1em;
  }
}

@media (max-width: 350px) {
  #main-section-header {
    font-size: 2.5em;
  }

  #main-section-subheader1 {
    font-size: 0.9em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 0.9em;
  }
}

@media (max-width: 325px) {
  #main-section-header {
    font-size: 2.25em;
  }

  #main-section-subheader1 {
    font-size: 0.83em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 0.83em;
  }
}

@media (max-width: 300px) {
  #main-section-header {
    font-size: 2em;
  }

  #main-section-subheader1 {
    font-size: 0.77em;
    margin-bottom: 0;
  }
  
  #main-section-subheader2 {
    font-size: 0.77em;
  }
}

/* MAIN SECTION NAV TAGS CSS */
#main-section-nav-tags {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 20vh;
  left: 60vw;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  z-index: 1;
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.main-section-nav-tags-hidden {
  visibility: hidden;
  opacity: 0;
}

.main-section-nav-tags-fadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 700ms;
  transition-duration: 5s;
}

/* ENTRY SECTION CSS */
#entry-section {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 35vh;
  left: -0.05vw;
  display: flex;
  justify-content: center;
}

.homepage-welcome-text {
  font-size: 3em;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  color: white;
  overflow: hidden;
  padding-bottom: 0;
}

.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  height: 3em;
  animation: blink 1s infinite;
}

.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

@media (max-width: 745px) {
  .homepage-welcome-text {
    font-size: 2.75em;
  }
  
  .cursor {
    height: 2.75em;
  }
}

@media (max-width: 700px) {
  .homepage-welcome-text {
    font-size: 2.5em;
  }

  .cursor {
    height: 2.5em;
  }
}

@media (max-width: 610px) {
  .homepage-welcome-text {
    font-size: 2.25em;
  }

  .cursor {
    height: 2.25em;
  }
}

@media (max-width: 550px) {
  .homepage-welcome-text {
    font-size: 2em;
  }

  .cursor {
    height: 2em;
  }
}

@media (max-width: 480px) {
  .homepage-welcome-text {
    font-size: 1.75em;
  }

  .cursor {
    height: 1.75em;
  }
}

@media (max-width: 450px) {
  .homepage-welcome-text {
    font-size: 1.5em;
  }

  .cursor {
    height: 1.5em;
  }
}

@media (max-width: 380px) {
  .homepage-welcome-text {
    font-size: 1.25em;
  }

  .cursor {
    height: 1.25em;
  }
}

@media (max-width: 320px) {
  .homepage-welcome-text {
    font-size: 1em;
  }

  .cursor {
    height: 1em;
  }
}

/* ENTRY BUTTON CSS */
.enter-section-button {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 42.5vh;
  left: -0.05vw;
  display: flex;
  justify-content: center;
}

#enter-button {
  top: 5vh;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 1em;
  padding: 1em 1.5em 1em 1.5em;
  height: 1em;
  position: relative;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
}

#enter-button:hover {
  background: #21ebff;
  color: #111;
  box-shadow: 0 0 2em #21ebff;
  transition-delay: 0.5s;
}

#enter-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  border-top: .25em solid white;
  border-left: .25em solid white;
  transition: 0.5s;
}

#enter-button:hover:before {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
  border-top: .25em solid #21ebff;
  border-left: .25em solid #21ebff;
}

#enter-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1em;
  height: 1em;
  border-bottom: .25em solid white;
  border-right: .25em solid white;
  transition: 0.5s;
}

#enter-button:hover:after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
  border-bottom: .25em solid #21ebff;
  border-right: .25em solid #21ebff;
}

.enter-button-hidden {
  visibility: hidden;
  opacity: 0;
}

.enter-button-fadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 700ms;
}

@media (max-height: 620px) {
  #enter-button {
    top: 10vh;
  }
}

@media (max-height: 500px) {
  #enter-button {
    top: 15vh;
  }
}

@media (max-height: 300px) {
  #enter-button {
    top: 25vh;
  }
}