@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

/* NAVBAR CSS */
#navbar {
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  top: 0vh;
  left: 0vw;
  justify-content: center;
  z-index: 3;
}

#navbar h3 {
  letter-spacing: .5vw;
  font-size: 3.69vh;
  color: white;
  font-family: 'Major Mono Display', monospace;
}

#navbar h4 {
  font-size: 1.25em;
  color: white;
  font-family: 'Source Code Pro', monospace;
}

.navbar-toggle {
  visibility: hidden;
  opacity: 0;
}

.navbar-fadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 700ms;
  transition-duration: 5s;
}

@media (max-aspect-ratio: 1/1) {
  #navbar h3 {
    font-size: 2vw;
  }
}

/* SOCIAL LINK CSS */
#social-links {
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  height: auto;
  width: 100vw;
  left: 0;
  bottom: 0.5vh;
  justify-content: center;
  z-index: 3;
  margin: 0;
}

.social-links-hidden {
  visibility: hidden;
  opacity: 0;
}

.social-links-fadein {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 700ms;
  transition-duration: 5s;
}

.social-link-buttons {
  margin: 1vw;
  cursor: none;
  transform: scale(.8);
  fill: #FFF;
}

#github-social {
  filter: invert(100%);
}

@media (max-aspect-ratio: 4/3) {
  #social-links {
    bottom: 0vh;
  }
  .social-link-buttons {
    transform: scale(.55);
    margin: 1vw;
  }

  a.social-link-buttons {
    padding: 0;
  }
}

@media (max-aspect-ratio: 5/6) {
  #social-links {
    bottom: -1vh;
  }
  .social-link-buttons {
    transform: scale(.45);
    padding-right: .1em;
    margin: 0vw;
  }
} 

@media (max-aspect-ratio: 19/32) {
  .social-link-buttons {
    transform: scale(.3);
    padding-right: 0;
    margin: -1vw;
  }
}

@media (max-aspect-ratio: 31/64) {
  .social-link-buttons {
    transform: scale(.3);
    padding-right: 0;
    margin: -1vw;
  }
}

.link-clicked {
  display: none;
}