@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

/* SECTION ONE CSS */
.section-one {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  left: 11vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  overflow: hidden;
  z-index: 1;
}

#main-section-one-text {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 23vw;
  color: whitesmoke;
  overflow: hidden;
  z-index: 1;
}

.section-header {
  font-family: 'Oswald', sans-serif;
  font-size: 13vh;
  letter-spacing: .25em;
  margin: 0;
}

.section-subheader {
  Font-Family: 'Quattrocento', Serif;
  font-size: 3vh;
  line-height: 4.25vh;
  letter-spacing: .15em;
}


/* MEDIA QUERIES */
@media (max-aspect-ratio: 2/1) {
  .section-one {
    left: 11vw;
  }

  #main-section-one-text {
    width: 27.25vw;
  }

  .section-header {
    font-size: 10vh;
  }
  .section-subheader {
    font-size: 2.4vh;
  }
}

 @media (max-aspect-ratio: 4/3) {
  .section-one {
    left: 7.5vw;
  }

  #main-section-one-text {
    width: 27vw;
  }

  .section-header {
    font-size: 6vw;
  }
  
  .section-subheader {
    font-size: 1.7vw;
  }
}

@media (max-aspect-ratio: 1/1) {
  #main-section-one-text {
    width: 26vw;
  }

  .section-header {
    font-size: 6vw;
  }
  
  .section-subheader {
    font-size: 1.6vw;
  }
}

.mobile-chrome-safari-main-one{
    top: 3.25vh !important;
}

/* VERTICAL */
@media (max-aspect-ratio: 5/6) {
  .section-one {
    top: 4.5vh;
    left: 0vw;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  #main-section-one-text {
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .section-header {
    font-size: 10vw;
  }
  
  .section-subheader {
    font-size: 2.3vw;
    margin-left: 20vw;
    margin-right: 20vw;
    line-height: 2.6vh;
  }
}

@media (max-aspect-ratio: 47/64) {
  .section-header {
    font-size: 11vw;
  }
  
  .section-subheader {
    font-size:2.75vw;
  }
}

@media (max-aspect-ratio: 19/32) {
  .section-header {
    font-size: 10vw;
  }
  
  .section-subheader {
    font-size:2.9vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media (max-aspect-ratio: 31/64) {
  .section-header {
    font-size: 10vw;
  }
  
  .section-subheader {
    font-size: 3.25vw;
  }
}

/* SECTION TWO CSS */
.section-two {
  position: fixed;
  width: auto;
  bottom: 0;
  height: 100vh;
  right: 8.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

#main-section-nav p{
  margin: 0;
  padding-top:0;
  color: #101010;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
  letter-spacing: .3em;
  font-size: 7.38vh;
  font-family: 'Oswald', sans-serif;
  line-height: 15vh;
}

@media (max-aspect-ratio: 2/1) {
  .section-two {
    right: 8vw;
  }

  #main-section-nav p{
    font-size: 7vh;
    letter-spacing: .3em;
  }
}

@media (max-aspect-ratio: 4/3) {
  .section-two {
    right: 5vw;
  }

  #main-section-nav p{
    font-size: 5.5vh;
    letter-spacing: .25em;
    line-height: 12.5vh;
  }
}

@media (max-aspect-ratio: 1/1){
  .section-two {
    right: 4.5vw;
  }

  #main-section-nav p{
    font-size: 4.25vh;
    letter-spacing: .25em;
    line-height: 10vh;
  }
}

/* VERTICAL */
@media (max-aspect-ratio: 5/6) {
  .section-two {
    left: .5vw;
    bottom: 10vh;
    align-items: center;
    width: 100%;
    height: auto;
  }

  #main-section-nav p{
    margin-top:2vw;
    margin-bottom: 0;
    font-size: 4.5vw;
    letter-spacing: .4em;
    line-height: 5vh;
  }
}

@media (max-aspect-ratio: 47/64) {
  .section-two p{
    margin-top:1.75vh;
    font-size: 5vw;
  }
}

@media (max-aspect-ratio: 19/32) {
  #main-section-nav p{
    margin-top:1.9vh;
    font-size: 6vw;
  }
}

@media (max-aspect-ratio: 31/64) {
  #main-section-nav p{
    margin-top:.8em;
    font-size: 7vw;
  }
}

.mobile-chrome-safari-main-nav {
  bottom: 5.75vh !important;
}